includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests
    level: 5
    tmpDir: storage/framework/cache/phpstan
    parallel:
        maximumNumberOfProcesses: 4
    treatPhpDocTypesAsCertain: false
